header {
  display: flex;
  width: 100%;
  height: 10%;
  background-color: blue;
  align-items: center;
  position: fixed;
}

.title {
  padding: 8% 35% 5% 3%;
  display: inline-block;
}

.navbar {
  width: 100%;
}

.nav {
  color: rgb(255, 255, 255);
}

.tab {
  list-style: none;
  display: inline-block;
  padding: 0 5px;
}

img {
  width: 3em;
}
