<header>
    <div class='navbar'>
        <div class='serch_area'></div>
        <nav class="nav">
            <ul>
                <h2 class="title">Aquarium</h2>
                <li class='tab'>Explore</li>
                <li class='tab'>Stats</li>
                <li class='tab'>Resources</li>
                <li class='tab'>Create</li>
                <li class='tab'><img src="../static/img/logo_transparent.png"></li>
                <li class='tab'><img src="../static/img/logo_transparent.png"></li>
            </ul>
        </nav>
    </div>
</header>