{% load static %}

<html>
    <head>
      <title>Sample App</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
一覧を表示する予定


  <body>
    <h1>とりあえずのコンテンツ</h1>
    <h2>h2の文字です</h2>
    <p>pの文字です</p>
    <h1><a href="https://google.com">Google</a></h1>
  </body>
</html>