{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Sign in</title>
</head>

<body>
    <div class="login-pane">
        <div class="title-logo-wrapper">
            <a href="{% url 'sample:index' %}"> <img src="{% static 'img/logo_transparent.png' %}"></a>
        </div>
        <h2>Login</h2>
        {% if form.errors  %}
        <p>ユーザーID, パスワードが一致しません．</p>
        {% endif %}
        <form action="{% url 'sample:login' %}" method="POST">
            {% csrf_token %}
            <label style="color: white">ユーザーID</label>
            {{ form.username }}
            {{ form.username.errors }}
            <label style="color: white">パスワード</label>
            {{ form.password }}
            {{ form.password.errors }}
            <button type = "submit">ログイン</button>
            <!-- <input class="input-field" type="text" name="loginInfo" value="" placeholder="Email">
            <input class="input-field" type="password" name="password" value="" placeholder="Password" maxlength="15">
            <div class="error-filed">
                <c:out value="${ requestScope.errorMessage }" />
                <c:forEach var="messageList" items="${ requestScope.errorMessageList }">
                    <c:out value="${ messageList }" />
                    <br>
                </c:forEach>
            </div> -->
            <table class="button-table">
                <tbody>
                    <tr>
                        <td><a class="button" href="">Login</a></td>
                    </tr>
                    <tr>
                        <td><a class="button" href="{% url 'sample:signup' %}">Create account</a></td>
                    </tr>
                </tbody>
            </table>
            <!-- <table id="forgot-password">
                <tr>
                    <td><a href="" id="forgot-password-link">Forgot email or password?</a></td>
                </tr>
            </table> -->
        </form>
    </div>
</body>

</html>