{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Sign in</title>
</head>

<body>
    <div class="login-pane">
        <div class="title-logo-wrapper">
            <a href="{% url 'sample:index' %}"> <img src="{% static 'img/logo_transparent.png' %}"></a>
        </div>
        <h2>Login</h2>
        <form action="" method="post">
            <input class="input-field" type="text" name="loginInfo" value=""
                placeholder="Email">
            <input class="input-field" type="password" name="password"
                value="" placeholder="Password" maxlength="15">
            <div class="error-filed">
                <c:out value="${ requestScope.errorMessage }" />
                <c:forEach var="messageList" items="${ requestScope.errorMessageList }">
                    <c:out value="${ messageList }" />
                    <br>
                </c:forEach>
            </div>
            <table class="button-table">
                <tbody>
                    <tr>
                        <td><button class="login-button" type="submit" name="buttonId" value="L001_01">Login</button></td>
                    </tr>
                    <tr>
                        <td><button class="login-button" type="submit" name="buttonId" value="M100_01">Create account</button></td>
                    </tr>
                </tbody>
            </table>
            <table id="forgot-password">
                <tr>
                    <td><a href="#" id="forgot-password-link" style="text-decoration: none;">Forgot email or password?</a></td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>