<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Sign in</title>
</head>

<body>
    <div class="login-pane">
        <div class="title-logo-wrapper">
            <a href="#"> <img src="../static/img/logo_transparent.png" width="20%" height="20%"></a>
        </div>
        <h2>Sign in</h2>
        <form action="" method="post">
            <input class="input-field" type="text" name="loginInfo" value="${ param.loginInfo }"
                placeholder="Email">
            <input class="input-field" type="password" name="password"
                value="${ param.password }" placeholder="Password" maxlength="15">
            <div class="error-filed">
                <c:out value="${ requestScope.errorMessage }" />
                <c:forEach var="messageList" items="${ requestScope.errorMessageList }">
                    <c:out value="${ messageList }" />
                    <br>
                </c:forEach>
            </div>
            <table class="button-table">
                <tbody>
                    <tr>
                        <td><button class="login-button" type="submit" name="buttonId" value="L001_01">Sign in</button></td>
                    </tr>
                    <tr>
                        <td><button class="login-button" type="submit" name="buttonId" value="M100_01">Create account</button></td>
                    </tr>
                </tbody>
            </table>
            <table id="forgot-password">
                <tr>
                    <td><a href="#" style="text-decoration: none;">Forgot email or password?</a></td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>