{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Create your Aquarium Account</title>
</head>

<body>
    <div class="signup-pane">
        <div class="title-logo-wrapper">
            <a href="{% url 'sample:index' %}"> <img src="{% static 'img/logo_transparent.png' %}"></a>
        </div>
        <h2>Create your Account</h2>
        <form action="{% url 'sample:signup' %}" method="POST">
            <!-- <input class="input-field" type="text" value="${ param.loginInfo }" placeholder="Email">
            <input class="input-field" type="password" value="${ param.password }" placeholder="Password"
                maxlength="15">
            <input class="input-field" type="password_confirm" value="${ param.password }" placeholder="Confirm"
                maxlength="15">
            <div class="error-filed">
                <c:out value="${ requestScope.errorMessage }" />
                <c:forEach var="messageList" items="${ requestScope.errorMessageList }">
                    <c:out value="${ messageList }" />
                    <br>
                </c:forEach>
            </div> -->
            {% csrf_token %}
            <label style="color: white">ユーザーID</label>
            {{ form.username }}
            {{ form.username.errors }}
            <label style="color: white">パスワード</label>
            {{ form.password1 }}
            {{ form.password1.errors }}
            <label style="color: white">パスワード(確認)</label>
            {{ form.password2 }}
            {{ form.password2.errors }}
            <button type="submit">登録</button>
            <!-- <table class="button-table">
                <tbody>
                    <tr>
                        <td><a class="button" href="">Create</a></td>
                    </tr>
                </tbody>
            </table>
            <table id="login-isntead">
                <tr>
                    <td><a href="{% url 'sample:login' %}" id="login-isntead-link">Login instead</a></td>
                </tr>
            </table> -->
        </form>
    </div>
</body>

</html>